button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1.5rem;
  transition: all 0.1s linear;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
button.background {
  background-color: #6cb51d;
}
button.fit {
  padding: 0;
}
button.light {
  color: #6cb51d;
  box-shadow: 4px 4px 10px 0px #000, 4px 4px 45px 0px #fff;
}
button.background.light {
  color: #000;
}
button.shadowflip.light {
  box-shadow: -4px 4px 10px 0px #000, -4px 4px 45px 0px #fff;
}
button.dark {
  color: #000;
  box-shadow: 4px 4px 10px 0px #000;
}
button.shadowflip.dark {
  box-shadow: -4px 4px 10px 0px #000;
}
button.flat {
  box-shadow: 0px 0px 0px 0px rgb(226, 226, 226);
}

button.light:disabled {
  opacity: 0.5;
  color: #6cb51d;
}
button.dark:disabled {
  opacity: 0.5;
  color: #000;
}
button.flat.light:disabled {
  box-shadow: 2px 2px 5px 0px rgb(226, 226, 226) inset;
}
button.flat.dark:disabled {
  box-shadow: 2px 2px 5px 0px rgb(27, 27, 27) inset;
}

button.light:active:not(:disabled) {
  box-shadow: 2px 2px 5px 0px #000, 4px 4px 15px 0px #aaaaaa;
}
button.shadowflip.light:active {
  box-shadow: -2px 2px 5px 0px #000, -4px 4px 15px 0px #aaaaaa;
}
button.dark:active {
  box-shadow: 0px 0px 0px 0px rgb(27, 27, 27), 4px 4px 10px 0px rgb(27, 27, 27) inset;
}
button.shadowflip.dark:active {
  box-shadow: 0px 0px 0px 0px rgb(27, 27, 27), -4px 4px 10px 0px rgb(27, 27, 27) inset;
}

@media (hover: hover) {
  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }

  button.light:hover {
    background-color: #7ca84c;
  }
  button.dark:hover {
    background-color: rgb(54, 54, 54);
  }

  button.flat:disabled:hover {
    background-color: transparent;
  }
  button.flat.light:disabled:hover {
    box-shadow: 2px 2px 5px 0px rgb(226, 226, 226) inset;
  }
  button.flat.dark:disabled:hover {
    box-shadow: 2px 2px 5px 0px rgb(27, 27, 27) inset;
  }
}
