@font-face {
    font-family: 'Isocpeur';
    src: url('../Fonts/ISOCPEUR.ttf');
}
@font-face {
    font-family: 'punavuor';
    src: url('../Fonts/PUNAVUOR.TTF');
}
@keyframes blink {
    0% {
        opacity:1;
    }
    10% {
        opacity:0;
    }
    20%  {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40%  {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
body {
    margin: 0;
    font-family: punavuor;
    overflow: hidden;
}
ul {
    list-style:none;
}
#control_panel {
    position:absolute;
    top:20px;
    width:0px;
    left:50%;
    margin-left:0px;
    height:40px;
    background-color:#e3e3e3;
    border-radius:30px;
    opacity:0;
    pointer-events:none;
    transition-property:width, top, margin-left, opacity;
    transition-duration:.5s;
    transition-timing-function:ease;
}
.control_buttons {
    position:absolute;
    width:140px;
    height:20px;
    font-family:punavuor;
    background-color:#26ca28;
    border-radius:10px;
    border:none;
    box-shadow:0px 0px 10px #000;
    font-weight:bolder;
    transition-property:box-shadow, opacity;
    transition-duration:.3s;
    transition-timing-function:ease;
    cursor:pointer;
    top:50%;
    margin-top:-10px;
    display:inline-block;
}
.control_buttons:focus {
    outline:none;
}
.control_buttons:hover {
    opacity:0.7;
    box-shadow:0px 0px 20px #000;
}
#button_stop {
    left:5%;
}
#button_record {
    left: 38.5%;
}
#button_save {
    left: 71.5%;
}
#back {
    width:200%;
    height:200%;
    position:absolute;
    left:-50%;
    top:-50%;
    filter:blur(5px);
    opacity:0.1;
    z-index:-1;
}
#floating-header {
    margin: 0px;
    height: 72px;
    background-color: #40aa22;
    width: auto;
    box-shadow:#888888 0px 0px 15px 5px;
    z-index:5;
}
#logoHeader {
    vertical-align: middle;
    padding: 10px;
    padding-left: 30px;
    border-radius:20px 20px;
}
#titleHeader {
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    text-shadow:0 10px 15px #b6ff00;
}
#burger_menu {
    position:absolute;
    z-index:19;
    padding:5px;
    cursor:pointer;
    top:100px;
    border-radius:50%;
    left:15px;
    background-color:#b6ff00;
    transition-property:opacity, box-shadow;
    transition-duration:.3s;
    transition-timing-function:ease;
}
#burger_menu:hover {
    opacity:0.6;
    box-shadow:0px 0px 10px 5px #000;
}
#menu {
    width:250px;
    height:400px;
    position:relative;
    text-align:center;
    top:80px;
    left:-250px;
    border-radius:10px 10px;
    background-color:rgba(0, 0, 0, 0);
    transition-property:left;
    transition-duration:500ms;
    transition-timing-function:ease-in-out;
    z-index:19;
}
.options_bar {
    color: #b6ff00;
    text-shadow: 0px 0px 6px #000;
    padding: 10px;
    cursor: pointer;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.options_bar:hover {
    color:#777777;
}
#synth_pad {
    width: 700px;
    height: 500px;
    position: absolute;
    top: -550px;
    left: 50%;
    text-align: center;
    margin-left: -350px;
    transition-property: top;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
@keyframes tween {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes graph {
    0% {
        width:0px;
        margin-left:0px;
    }
    10% {
        width: 120px;
        margin-left: -60px;
    }
    20% {
        width: 60px;
        margin-left: -30px;
    }
    30% {
        width: 180px;
        margin-left: -90px;
    }
    40% {
        width: 120px;
        margin-left: -60px;
    }
    50% {
        width: 240px;
        margin-left: -120px;
    }
    60% {
        width: 180px;
        margin-left: -90px;
    }
    70% {
        width: 300px;
        margin-left: -150px;
    }
    80% {
        width: 240px;
        margin-left: -120px;
    }
    90% {
        width: 360px;
        margin-left: -180px;
    }
    100% {
        width: 0px;
        margin-left: 0px;
    }
}
#refer {
    -webkit-appearance: none;
    -moz-appearance:none;
    width: 100%;
    visibility:visible;
    height: 5px;
    padding: 0;
}
    #refer::-webkit-progress-bar {
        background-color: #ffffff;
    }

    #refer::-moz-progress-bar {
        background-color: #ffffff;
    }

    #refer::-webkit-progress-value {
        background-color: #808080;
    }

.animate {
    animation-name: tween;
    animation-fill-mode: backwards;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.stopAnimation {
    animation: none;
}
.started {
    opacity: 0.4;
}

#hexa_stop:hover {
    opacity:0.5;
}
.graph {
    position: absolute;
    width: 0px;
    left: 50%;
    margin-left: 0px;
    height: 10px;
    background-color: #a9a9a9;
    animation-name: graph;
    animation-duration: 4.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
#graph1 {
    top:60px;
}
#graph2 {
    top:400px;
}
#welcome {
    position:absolute;
    top:80px;
    width:100%;
    right:50%;
    height:87%;
    margin-right:-50%;
    background-color:#e3e3e3;
    border-radius:15px;
    transition-property:right;
    z-index:5;
    transition-duration:300ms;
    transition-timing-function:ease-in-out;
    font-size:15pt;
    color:#ffffff;
    text-align:center;
    font-family:punavuor;
}
#welcome0 {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    filter:blur(5px);
    transition-property:opacity;
    transition-duration:2s;
    transition-timing-function:ease;
}
#hexapad1 {
    position: absolute;
    left: 318px;
    top: 218px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style1 {
    left: 350px;
    top: 250px;
}
#hexapad2 {
    position: absolute;
    left: 266px;
    top: 250px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style2 {
    left: 298px;
    top: 282px;
}
#hexapad3 {
    position: absolute;
    left: 370px;
    top: 250px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style3 {
    left: 402px;
    top: 282px;
}
#hexapad4 {
    position: absolute;
    left: 318px;
    top: 280px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style4 {
    left: 350px;
    top: 312px;
}
#hexapad5 {
    position: absolute;
    left: 266px;
    top: 312px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style5 {
    left: 298px;
    top: 344px;
}
#hexapad6 {
    position: absolute;
    left: 370px;
    top: 312px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style6 {
    left: 402px;
    top: 344px;
}
#hexapad7 {
    position: absolute;
    left: 318px;
    top: 156px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style7 {
    left: 350px;
    top: 188px;
}
#hexapad8 {
    position: absolute;
    left: 266px;
    top: 125px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style8 {
    left: 298px;
    top: 157px;
}
#hexapad9 {
    position: absolute;
    left: 370px;
    top: 125px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style9 {
    left: 402px;
    top: 157px;
}
#hexapad10 {
    position: absolute;
    left: 266px;
    top: 188px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style10 {
    left: 298px;
    top: 220px;
}
#hexapad11 {
    position: absolute;
    left: 370px;
    top: 188px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style11 {
    left: 402px;
    top: 220px;
}
#hexapad12 {
    position: absolute;
    left: 213px;
    top: 156px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style12 {
    left: 245px;
    top: 188px;
}
#hexapad13 {
    position: absolute;
    left: 423px;
    top: 156px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style13 {
    left: 455px;
    top: 188px;
}
#hexapad14 {
    position: absolute;
    left: 213px;
    top: 280px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style14 {
    left: 245px;
    top: 312px;
}
#hexapad15 {
    position: absolute;
    left: 423px;
    top: 280px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style15 {
    left: 455px;
    top: 312px;
}
#hexapad16 {
    position: absolute;
    left: 318px;
    top: 92px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style16 {
    left: 350px;
    top: 124px;
}
#hexapad17 {
    position: absolute;
    left: 615px;
    top: 280px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style17 {
    left: 647px;
    top: 312px;
}
#hexapad18 {
    position: absolute;
    left: 562px;
    top: 312px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style18 {
    left: 594px;
    top: 344px;
}
#hexapad19 {
    position: absolute;
    left: 562px;
    top: 374px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style19 {
    left: 594px;
    top: 406px;
}
#hexapad20 {
    position: absolute;
    left: 509px;
    top: 406px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style20 {
    left: 541px;
    top: 440px;
}
#hexapad21 {
    position: absolute;
    left: 562px;
    top: 250px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style21 {
    left: 598px;
    top: 282px;
}
#hexapad22 {
    position: absolute;
    left: 562px;
    top: 436px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style22 {
    left: 594px;
    top: 468px;
}
#hexapad23 {
    position: absolute;
    left: 615px;
    top: 342px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style23 {
    left: 647px;
    top: 374px;
}
#hexapad24 {
    position: absolute;
    left: 509px;
    top: 344px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style24 {
    left: 541px;
    top: 376px;
}
#hexapad25 {
    position: absolute;
    left: 509px;
    top: 468px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style25 {
    left: 541px;
    top: 500px;
}
#hexapad26 {
    position: absolute;
    left: 455px;
    top: 436px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style26 {
    left: 487px;
    top: 468px;
}
#hexapad27 {
    position: absolute;
    left: 74px;
    top: 250px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style27 {
    left: 106px;
    top: 282px;
}
#hexapad28 {
    position: absolute;
    left: 74px;
    top: 312px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style28 {
    left: 106px;
    top: 344px;
}
#hexapad29 {
    position: absolute;
    left: 74px;
    top: 374px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style29 {
    left: 106px;
    top: 406px;
}
#hexapad30 {
    position: absolute;
    left: 74px;
    top: 436px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style30 {
    left: 106px;
    top: 468px;
}
#hexapad31 {
    position: absolute;
    left: 127px;
    top: 344px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style31 {
    left: 159px;
    top: 376px;
}
#hexapad32 {
    position: absolute;
    left: 127px;
    top: 406px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style32 {
    left: 159px;
    top: 438px;
}
#hexapad33 {
    position: absolute;
    left: 127px;
    top: 468px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style33 {
    left: 159px;
    top: 500px;
}
#hexapad34 {
    position: absolute;
    left: 21px;
    top: 280px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style34 {
    left: 53px;
    top: 312px;
}
#hexapad35 {
    position: absolute;
    left: 21px;
    top: 342px;
    border-radius: 32px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#back_style35 {
    left: 53px;
    top: 374px;
}
#hexapad36 {
    position: absolute;
    left: 181px;
    top: 436px;
    border-radius:32px;
    transition-property:box-shadow;
    transition-duration:500ms;
    transition-timing-function:ease;
}
#back_style36 {
    left: 213px;
    top: 468px;
}
.hexapad {
    animation-name:blink;
    animation-duration:500ms;
    animation-iteration-count:1;
    animation-timing-function:ease;
}
.pseudo {
    position:absolute;
    left:50%;
    top:50%;
    box-shadow:0px 0px 80px 20px #000;
    z-index:10;
}
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance:none;
}

    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: #b6ff00;
        border: none;
        border-radius: 3px;
        box-shadow:#000 0px 0px 5px 2px;
        cursor:pointer;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 20%;
        background: #26ca28;
        margin-top: -5px;
        cursor:pointer;
        transition-property:box-shadow, opacity, border-radius;
        transition-timing-function:ease;
        transition-duration:.3s;
    }
    input[type=range]::-webkit-slider-thumb:hover {
        box-shadow:#000 0px 0px 10px 4px;
        opacity:0.7;
        border-radius:50%;
    }
    input[type=range]:focus {
        outline: none;
    }

.control_heading {
    display:inline-block;
    margin-left:20px;
}
#effect_container {
    position: absolute;
    top: 95px;
    right: -325px;
    height: 80%;
    z-index: 3;
    width: 320px;
    background: rgba(0, 0, 0, 0);
    transition-property: right;
    transition-duration: .5s;
    transition-timing-function: ease;
}
#controls {
    position: absolute;
    top:80px;
    left:0;
    width:100%;
    height:90%;
    overflow-y: scroll;
    font-family: punavuor;
}
.panels {
    height: 0;
    opacity: 0;
    pointer-events:none;
    transition-property: opacity, height;
    transition-duration: .5s;
    transition-timing-function: ease;
}
.control_range {
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-top:15px;
}
.subcontrol_heading {
    display:inline-block;
    margin:0;
    padding:0;
    margin-left:20px;
    margin-top:10px;
    font-size:10pt;
}

input[type=checkbox] {
    display:none;
}

.checkboxThree {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 20px;
    background: #333;
    right: 0px;
    margin: 19px 20px;
    border-radius: 25px;
    transition-property:opacity, box-shadow;
    transition-duration:.3s;
    transition-timing-function:ease;
}
    .checkboxThree:hover {
        opacity:0.7;
        box-shadow:#000 0px 0px 10px 5px;
    }
    .checkboxThree:before {
        content: 'On';
        position: absolute;
        top: 6px;
        left: 7px;
        height: 1px;
        color: #26ca28;
        font-size: 9px;
        font-weight:bold;
    }
    .checkboxThree:after {
        content: 'Off';
        position: absolute;
        top: 6px;
        left: 47px;
        height: 1px;
        color: #26ca28;
        font-size: 9px;
        font-weight: bold;
    }
    .checkboxThree label {
        display: block;
        width: 35px;
        height: 11px;
        border-radius: 25px;
        transition: all .3s ease;
        cursor: pointer;
        position: absolute;
        top: 5px;
        z-index: 1;
        left: 6px;
        background: #ddd;
    }
    .checkboxThree input[type=checkbox]:checked + label {
        left: 40px;
        background: #26ca28;
    }

#userRecordings {
    position:absolute;
    top:50%;
    left:50%;
    width:0%;
    height:0%;
    z-index:17;
    background-color:rgba(0, 0, 0, 0.4);
    z-index:0;
    opacity:0;
    pointer-events:none;
    transition-property:width, height, top, left, opacity, z-index;
    transition-duration:.5s;
    transition-timing-function:ease;
}

#listRecord {
    position:absolute;
    width:80%;
    height:80%;
    top:10%;
    left:10%;
    background-color:#e3e3e3;
    border-radius:20px;
}
#effects_burger_menu {
    position:absolute;
    top:100px;
    right:20px;
    cursor:pointer;
    border-radius:50%;
    background-image:url('../Images/effect_burger.png');
    background-position:center;
    z-index:4;
    border:5px inset #b6ff00;
    transition-property:opacity, box-shadow, transform;
    transition-duration:.5s;
    transition-timing-function:ease-out;
}
#effects_burger_menu:hover {
    opacity:0.7;
    box-shadow:0px 0px 10px 5px #000;
}
#controls_burger_menu {
    position: absolute;
    top: 100px;
    left:50%;
    margin-left:-24px;
    cursor: pointer;
    border-radius: 50%;
    background-image: url('../Images/control_down.png');
    background-position: center;
    background-size:contain;
    z-index: 4;
    border: 5px inset #b6ff00;
    transition-property: opacity, box-shadow, transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
#controls_burger_menu:hover {
    opacity: 0.7;
    box-shadow: 0px 0px 10px 5px #000;
}
#back_record {
    position: absolute;
    top: 13px;
    left: 10%;
    cursor: pointer;
    border-radius: 50%;
    background-image: url('../Images/effect_burger.png');
    background-position: center;
    background-size: contain;
    border: 5px inset #b6ff00;
    transition-property: opacity, box-shadow, transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
    #back_record:hover {
        opacity: 0.7;
        box-shadow: 0px 0px 10px 5px #000;
    }

#record_notify {
    visibility:hidden;
    color:#7641d9;
    cursor:auto;
}
.button_show {
    pointer-events: all;
    opacity: 1;
}