@font-face {
  font-family: Avenger;
  src: url("./assets/fonts/avenger-mini.woff");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --brand: #40aa22;
  --bg-arrow: #cccccc;
  --text: #fff;
  --text-lightest: #e3e3e3;
  --header-height: 3.8rem;
  --footer-height: 3.8rem;
  --duration-effect: 0.2s;
  --duration-effect-slow: 0.15s;
  --theme-transition-bg: background-color var(--duration-effect) linear;
  --theme-transition-text: color var(--duration-effect) linear;
  --theme-transition-border: border var(--duration-effect) linear;
  --theme-transition-all: var(--theme-transition-bg), var(--theme-transition-text),
    var(--theme-transition-border);
  --scrollbar-width: 5px;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  min-width: 390px;
  min-height: 100vh;
}

.ff-avenger {
  font-family: Audiowide;
}
.fs-0 {
  font-size: 0 !important;
}

.mr-1 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.slide-enter {
  right: -100%;
}
.slide-enter-active {
  right: 0;
  transition: right 0.3s cubic-bezier(0.17, 0.67, 0.8, 0.99);
}
.slide-exit {
  right: 0;
}
.slide-exit-active {
  right: -100%;
  transition: right 0.3s cubic-bezier(0.17, 0.67, 0.8, 0.99);
}

.z-25 {
  z-index: 25;
}

@media (min-width: 768px) {
  .slide-enter {
    right: -24rem;
  }
  .slide-enter-active {
    right: 0;
    transition: right 0.3s cubic-bezier(0.17, 0.67, 0.8, 0.99);
  }
  .slide-exit {
    right: 0;
  }
  .slide-exit-active {
    right: -24rem;
    transition: right 0.3s cubic-bezier(0.17, 0.67, 0.8, 0.99);
  }
}

@media (min-width: 1024px) {
}
